@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
:root {
  --primary-color: #0284c7;
}

/* Custom utility classes */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 2px;
}

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .fancy-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray.200') transparent;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: theme('colors.gray.200');
      border-radius: 3px;
      
      &:hover {
        background-color: theme('colors.gray.300');
      }
    }
  }
}

.primary-gradient {
  background: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #2563eb;
  --tw-gradient-to: #3b82f6;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
